body { background: #222; margin-top: 4em; }

.container {
    
}

.head { color: white; font-size: 3em; }

.left { margin-left: auto; }
.right { float: right; }
.wide { width: 25%; }


.header {

    background: #111;
    width: 20%;

    color: #aaa;    
    
    font: 2em bold;
        font-family: sans-serif;
        font-variant: small-caps;

    border-top: 2px solid #888;
    border-bottom: 2px solid #888;       
    text-align: center;
}

table {
    background: #ccc;
}
tr td { text-align: center; }

.site a { font-size: 2em; color: #333; text-underline: 1px dotted black; }

span { color: white; font-size: 1em; }
